/* GENERAL */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins, sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: #555555;
}

a, button {
  color: #000000;
  cursor: pointer;
  text-decoration: none;
}


/* NAV */

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 17vh;
}

.logo {
  font-weight: 400;
  font-size: 2rem;
  cursor: default;
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.nav-links a {
  text-decoration: none;
  color: #000000;
  font-size: 1.5rem;
  border: 0.1rem solid transparent;
  border-radius: 2rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  border: 0.1rem solid #353535;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
}

.hamburger-icon {
  width: 30px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

span {
  height: 1px;
  border: 1px solid #000000;
  transition: all 0.3s ease;
}

.hamburger-icon.open span:first-child {
  transform: rotate(-45deg) translate(-5px, 11px);
}

.hamburger-icon.open span:nth-child(2) {
  display: none;
}

.hamburger-icon.open span:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -11px);
}

.menu-links {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 0 0 10px 10px;
  background-color: #ffffff;
  opacity: 0.8;
  gap: 0.5rem;
  top: 200%;
  right: 0;
}

.menu-links a {
  text-decoration: none;
  max-height: 0;
  overflow: hidden;
  font-size: 1.5rem;
  text-align: right;
  color: #000000;
  cursor: pointer;
  transition: all 0.3s ease;
}

.menu-links.open a {
  max-height: 3rem;
  padding: 1rem 0;
}

/* SECTION */

section {
  height: 96vh;
  padding-top: 4vh;
  margin: 0 10rem;
  min-height: fit-content;
}

.section-container {
  display: flex;
  height: 80%;
  gap: 4rem;
}

/* PROFILE */

#profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 83vh;
  gap: 6rem;
  margin-bottom: 5rem;
}

.section-pic-container {
  display: flex;
  margin: auto 0;
  height: 400px;
  width: 400px;
}

.profile-pic {
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
}

.section-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

.title {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

.name {
  line-height: 3rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.section-text-p2 {
  color: #555555;
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.btn-color-1 {
  background-color: transparent;
  border: 0.1rem solid #000000;
  padding: 1rem;
  font-weight: 600;
  border-radius: 2rem;
  width: 8rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn-color-1:hover {
  background-color: #000000;
  color: #ffffff;
}

.btn-color-2 {
  background-color: #353535;
  border: 0.1rem solid #353535;
  color: #ffffff;
  padding: 1rem;
  font-weight: 600;
  border-radius: 2rem;
  width: 8rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn-color-2:hover {
  background-color: #000000;
  border-color: #000000;
}

#socials-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.icon {
  height: 2rem;
  cursor: pointer;
}


/* ABOUT */

#about {
  position: relative;
}

.section-text-p1 {
  text-align: center;
}

.about-pic {
  border-radius: 2rem;
}

.about-details-container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  max-width: 610px;
}

.about-containers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  gap: 2rem;
}

.details-container {
  flex: 1;
  padding: 1.5rem;
  border: 0.1rem solid #a3a3a3;
  border-radius: 2rem;
  text-align: center;
  max-width: 610px;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

/* EXPERIENCE */

#experience {
  position: relative;
}

.sub-title {
  color: #555555;
  margin-bottom: 2rem;
  font-size: 1.75rem;
}

.article-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  text-align: initial;
}

article {
  display: flex;
  flex-direction: row;
  width: 10rem;
  gap: 1rem;
  justify-content: start;
}

.experience-details-container {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* PROJECTS */

#projects {
  position: relative;
  height: fit-content;
}

.projects-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.color-container {
  background-color: #fafafa;
}

.project-title {
  margin: 1rem;
  color: #000000;
}

.project-btn {
  border-color: #a3a3a3;
}

.project-img {
  width: 90%;
  height: 90%;
  border: 0.1rem solid #a3a3a3;
  border-radius: 1rem;
}

/* CONTACT */

#contact {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-info-upper-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem auto;
  width: fit-content;
  height: fit-content;
  padding: 0.5rem;
  border: 0.1rem solid #a3a3a3;
  border-radius: 2rem;
  gap: 1rem;
}

.contact-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem;
  gap: 0.5rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-info-container a {
  text-decoration: none;
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER */

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}